/* img{
    display: block;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
} */

.banner{
    background-image: url("apple.jpg");
    background-size: cover;
    /* height: 200vh; */
    /* overflow: auto; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.banner h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.banner p{
    font-size: 22px;
    margin-bottom: 20px;
}

.section1{
    height: 80vh;
    background-image: linear-gradient(to top left, red , blue, yellow);
    /* background-color: red; */
}