*{
  margin: 0;
  padding: 0;
}
.messageWrapper{
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 10px 30px;
}
.conversation{
  background-color: #E9E8EE;
  border-radius: 8px 8px 8px 0;
  padding: 10px;
  min-width: 25%;
  max-width: 50%;
}

.myMessage{
  border-radius: 8px 8px 0 8px;
  background-color: #0088FE;
  align-self: flex-end;
}

.conversation span {
  font-size: 10px;
}

.conversation p{
  /* text-wrap: wrap; */
  /* white-space: wrap; */
  word-wrap: break-word;
}

.App {
  text-align: center;
}

.categoryPage table th, .categoryPage table td{
  border: 1px solid black;
  padding: 5px 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
